{% extends 'product/base.html' %}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">

    <div class="row">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">

            <form method="post" action="{% url 'add_review' %}">
                {% csrf_token %}

                <label for="id_author">Ваше имя:</label>
                <input id="author" type="text" class="form-control" name="author">

                <label for="id_text">Отзыв:</label>
                <textarea class="form-control" row="5" id="text" name="text"></textarea><br>


                <button class="btn btn-success" type="submit">Разместить отзыв</button>
            </form>

        </div>


        <div class="col-sm-2">
        </div>
    </div>
</div>

{% endblock %}