{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title>Music market</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>


    </style>

</head>
<body>

<nav class="navbar navbar-intensive" style="border-radius: 0; background-color: #000080; border-color: #000080">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: #FFFFFF">Music Market</a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="{% url 'register'%}" style="background-color: #000080; color: #FFFFFF"><span class="glyphicon glyphicon-user"></span>
                    Регистрация </a></li>
                <li><a href="{% url 'login_user'%}" style="background-color: #000080; color: #FFFFFF"><span class="glyphicon glyphicon-log-in"></span>
                    Вход </a></li>
                <li><a href="{% url 'product_in_basket'%}" style="background-color: #000080; color: #FFFFFF">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Корзина
                    <span class="badge">{{ basket_products.count }}</span>
                </a></li>
            </ul>
        </div>
    </div>
</nav>
              {% block content %}

              {% endblock %}

<div class="container-fluid" style="background-color:#788182; margin-top: 50px">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <h3>КОНТАКТЫ</h3>
                <p><span class="glyphicon glyphicon-map-marker"></span> г. Минск, пр. Дзержинского, 104</p>
                <p><span class="glyphicon glyphicon-earphone"></span> +375(29)777-55-32</p>
                <p><span class="glyphicon glyphicon-envelope"></span> music@shop.by</p>
            </div>
            <div class="col-sm-4">
                 <h3>О НАС</h3>
                 <p><a href="{% url 'delivery' %}" style="color:white">Доставка</a></p>
                 <p><a href="{% url 'payment' %}" style="color:white">Оплата</a></p>
                 <p><a href="#" style="color:white">Магазины</a></p>
                 <p><a href="#" style="color:white">Как купить?</a></p>
                 <p><a href="{% url 'warranty' %}" style="color:white">Гарантии</a></p>
                 <p><a href="#" style="color:white">Подарочный сертификат</a></p>
                 <p><a href="#" style="color:white">Акции</a></p>
                 <p><a href="{% url 'review' %}" style="color:white">Отзывы</a></p>

            </div>
        </div>
</div>

1
<div class="panel panel-default">
    <div class="panel-footer">
        <p class="text-center">Copyright <span class="glyphicon glyphicon-copyright-mark"></span>  Music Market 2020</p>
    </div>
</div>

</body>

</html>