{% extends 'product/base.html' %}

{% block content %}

<div class="container">

    <h2 style="text-align:center">Доставка</h2>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <h2><i>1</i></h2>
        </div>
        <div class="col-sm-9">
            <h4><b>Курьером</b></h4>
            <p>
                При общей сумме заказа от 100 бел.руб. доставка осуществляется бесплатно!<br>
                При заказе на сумму менее 100 бел.руб. стоимость доставки составляет 6 бел.руб.<br>
                Срок доставки: В день заказа (при оформлении заказа до 17:30). На следующий день (при оформлении заказа после 17:30).<br>
                Доставка осуществляется после 18:00.<br>
                Другое время доставки оговаривается индивидуально.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <h2><i>2</i></h2>
        </div>
        <div class="col-sm-9">
            <h4><b>Самовывоз</b></h4>
            <p>
                Вы можете самостоятельно забрать заказ в нашем магазине по адресу:
                г. Минск, ТЦ "Московско-Венский", 3-й этаж, п. № 319, пр-т Независимости, 58.
                (возле ЦУМа, м. пл. Я. Коласа).<br>
                <b>Обязательно уточните наличие товара в магазине!</b>
            </p>
        </div>
    </div>
<hr>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <h3><b>Беларусь</b></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <h2><i>1</i></h2>
        </div>
        <div class="col-sm-9">
            <h4><b>Курьерcкой службой (до адреса получателя)</b></h4>
            <p>
                <b>Стоимость:</b> Бесплатно при заказе на сумму от 500 бел.руб. При заказе на сумму менее 500 бел.руб.
                стоимость доставки зависит от габаритов товара и населенного пункта( ~10-15 бел.руб.)
                Срок доставки: от 1 до 5 дней в зависимости от населенного пункта (можно уточнить у консультанта).
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <h2><i>2</i></h2>
        </div>
        <div class="col-sm-9">
            <h4><b>Почтой во все населенные пункты PБ (до почтового отделения)</b></h4>
            <p>
                <b>Срок доставки:</b> от 1 до 5 рабочих дней с момента отправления.<br>
                Стоимость пересылки рассчитывается по тарифам РУП "Белпочта" и зависит от веса товара:<br>
                1) до 1 кг – 5 бел.руб.<br>
                2) от 1 кг до 3 кг – 9 бел.руб.<br>
                3) от 3 кг до 15 кг – 12 бел.руб.<br>
                4) от 15 кг до 30 кг – 24 бел.руб.<br>
                <b>Проценты за электронный перевод не взимаются!</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <h2><i>3</i></h2>
        </div>
        <div class="col-sm-9">
            <h4><b>EMS во все населенные пункты PБ (до адреса получателя)</b></h4>
            <p>
                <b>Срок доставки:</b> 1-2 дня с момента отправления.<br>
                Стоимость рассчитывается по тарифам РУП "Белпочта" и зависит от веса товара:<br>
                1) до 1 кг – 7 бел.руб.<br>
                2) от 1 кг до 3 кг – 11 бел.руб.<br>
                3) от 3 кг до 15 кг – 14 бел.руб.<br>
                4) от 15 кг до 30 кг – 27 бел.руб.<br>
                <b>Можно оплатить на месте курьеру или по карточке онлайн.</b><br>
                <br>
                <b>Доставка товаров осуществляется только по Беларуси.</b>

            </p>
        </div>
    </div>

</div>


{% endblock %}