{% extends 'product/base.html' %}

{% block content %}

<div class="container">
    <div class="row">

          <h3>Ваши отзывы</h3>
          <hr>

          {% for review in reviews %}
                {{review.author}}
                {{review.text}}
                {{review.date}
          {% endfor %}

          <form method="post" action="{% url 'review' %}">
                    {% csrf_token %}

                    <label for="id_author"></label>
                    <input id=author" type="text" class="form-control" name="author" placeholder="Ваше имя"><br>
<!--                         {{form.errors.author}}-->

                    <label for="id_text"></label>
                    <input id="text" type="text" class="form-control" name="comment" placeholder="Ваш отзыв"><br>
<!--                        {{form.errors.text}}-->

                    <input type="submit" class="btn btn-success" style="border-radius: 0" value="Разместить отзыв">
                </form>

    </div>
</div>



{% endblock %}