{% extends 'product/base.html' %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </nav>

      {% for subcategory in subcategorys %}
        <a href="{% url 'product_subcategory' pk_subcategory=subcategory.pk %}">
          <div class="subcategory">
              <p class="text-center" style="font: italic 20px Arial; color: blue">{{ subcategory }}</p>
              <p class="text-center">
                  <img src="/media/{{subcategory.subcategory_image}}"
                       alt="" width="150" height="150" class="mr-3">
              </p>
          </div>
        </a>
      {% endfor %}

</div>


{% endblock %}