{% extends 'product/base.html' %}

{% block content %}

<div class="container">

    <p>
        При приобретении товара в интернет-магазине <b>Musicart.by</b> за Покупателем сохраняются все права,
        гарантированные Законом Республики Беларусь «О защите прав потребителей».
        Возврат (замена) бракованного товара возможен в рамках гарантии.<br>
        При покупке товара в нашем магазине Покупатель получает гарантийный талон
        (на товары, подлежащие гарантийному обслуживанию). Покупатель, которому продан товар ненадлежащего качества,
        вправе потребовать замены недоброкачественного товара товаром надлежащего качества
        или безвозмездного устранения недостатков товара,
        а также возврата денежных средств при отсутствии аналогичного товара надлежащего качества.<br>
        <br>
        Товар может быть признан бракованным только представителем Продавца.<br>
        <br>
        <b>Бесплатному гарантийному обслуживанию НЕ подлежит:</b><br>
        Товар с повреждениями, вызванными ненадлежащими условиями хранения, неправильным подключением,
        эксплуатацией, не предусмотренной производителем, вследствие действия сторонних обстоятельств
         (скачков напряжения электропитания, стихийных бедствий и т.д.), а также имеющий механические и тепловые повреждения.
         Товар со следами несанкционированного вмешательства и (или) ремонта.
        Товар, на котором повреждены, переклеены или удалены заводские серийные номера.
        Товар со следами воздействия и (или) попадания внутрь посторонних предметов, веществ, жидкостей, насекомых,
        а также имеющий посторонние надписи.
        Товар, имеющий потерю внешнего вида, ухудшение исполнительских возможностей - в результате небрежного обращения
        или не соблюдения условий хранения (содержания).<br>
        Продавец не предоставляет гарантии на совместимость приобретаемого товара с товаром, имеющимся у Покупателя, либо приобретенным им у третьих лиц.<br>
        <br>
        <b>Гарантия НЕ распространяется на:</b><br>
        • карты памяти и внутренние источники питания (батареи и аккумуляторы);<br>
        • электрические газоразрядные источники света и электронные лампы, используемые в изделии;<br>
        • расходные материалы, стойки и некоторые другие аксессуары для гитар и иных инструментов.

    </p>


</div>


{% endblock %}